*{
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.layout-container{
    display: flex;
  position: relative;
    min-height: 100vh;
    background: #f0f0f6;
}
.sidebar{
    width: 305px;;
    background: #FFF;
    padding-left: 40px;
    padding-right: 45px;
    padding-top: 50px;
    padding-bottom: 25px;
}
.main_contain{
    display: flex;
}
.rigth-nav{
    display: flex;
    width: 100px;
    background: #FFF;
    flex-shrink: 0;
    flex-direction: column;
    justify-content:  center;
}
.profile-card{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.profile-image{
    display: flex;
    justify-content: center; 
    
}
.profile-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
    
}
.profile-name{
    color:#2B2B2B;
    /* H4 - 18px */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
    
}
.profile-title{
  color: #767676;
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* Paragraph Progress - 15 */
    font-family: Inter;
  font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}
.profile-icon{
  position: absolute;
  width: 219px;
  height: 24px;
  top: 257px;
  left: 0;
}
.personal-info{
    gap: 9px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 305px;
    margin: 10px 0;
}
/* 24 BD*/
.value1{
    display: inline-block;
    margin-left: 155px;
    vertical-align: middle;
}
/* Available */
.value2{
    display: inline-block;
    margin-left: 70px;
    vertical-align: middle;
}
/* Dhaka... */
.value3{
    display: inline-block;
    margin-left: 13px;
    vertical-align: middle;
}
.info-label {
    display: inline;
    line-height: 1;
    width: 100px;
    height: 24px;
    background-color: #FFB400;

}

.text-langguages{
    color:#2B2B2B;

    /* H4 - 18px */
    font-family: "inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}
.info-laguages
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.name{
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* Paragraph Progress - 15 */
    font-family: "inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}
.percent1{
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    margin-left: 133px;
    display: inline-block;
    vertical-align: middle;
}
.percent2{
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;

    margin-left: 137px;
    display: inline-block;
    vertical-align: middle;
}
.percent3{
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;

    margin-left: 131px;
    display: inline-block;
    vertical-align: middle;
}
.line-4{
    width: 220px;
    height: 0px;
    outline: 1.50px #f0f0f6 solid;
    outline-offset: -0.75px;
    margin: 25px 40px 45px;
}

    